<div class="suggest">
  <label class="suggest-label">
    🔎
    <input
      class="suggest-input"
      type="text"
      placeholder='Example "Brandon Crona"'
      [formControl]="searchInput"
    />
  </label>
  <ul class="suggest-list">
    <li class="suggest-item" *ngFor="let user of users$ | async">
      <img src="{{ user.avatarUrl }}" class="user-avatar" alt="" />
      <span class="user-name">{{ user.name }}</span>
      <em class="user-email">{{ user.email }}</em>
    </li>
  </ul>
</div>
